{% extends "base.html" %}
{% block content %}

<h2 id="budget-view-header">Update <img src={{ url_for('static', filename='logo-budgie.jpg') }} alt="budgie-logo" class="budgie-logo"></h2>

<!-- WORKING -->

<form action="/userbudgets/update" method="POST">
    <div class="budget-edit-view">
        <label for="value">£</label>
        <input type="number" id="value" name="value" value="{{ user_budget.value }}">
    </div>
    <div class="budget-edit-view">
        <input type="submit" class="global-button">
    </div>
</form>


{% endblock %}