/* ----- HOME PAGE CSS -------- */

#main-header {

    font-family: Helvetica, sans-serif;

    

}



#logo {

    text-align: center;
    font-size: 50px;
    

}




.sub-menus {

    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 100px;

      
}

.nav-button {
        
    background-color: white;
    border: none;
    color: black;
    padding: 3px 3px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    display:inline-block;
    margin-right: 85px;
}

.welcome-logo {


    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 100px;
    padding-top: 300px;


}

.global-button {

        background-color: black;
        border: none;
        color: white;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

}





/* ----- HOME PAGE CSS ----------- */


/* ----- ABOUT PAGE CSS ---------------- */

.about-list {

    list-style-type: none;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;



}

.about-logo-top {


    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
    padding-top: 150px;


}

.about-logo-bottom {


    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;


}




/* ----- ABOUT PAGE CSS ---------------- */






/* ----- BUDGET VIEW CSS --------- */


.current-budget {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;


}

#budget-view-header {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;

}


.budget-edit-view {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
 


}


.edit-budget-link{

    font-size: 30px;
    text-decoration: none;
    color: black;


}
/* ------ BUDGET VIEW CSS------------ */

/* ----- MERCHANT TAGS CSS ------------- */
.tag-main-view {

    font-family: Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;


}

#tag-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0px;

}


.tag-add {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;


}



#tag-add-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;


}


#tag-edit-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;


}


.tag-edit {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
  

}

.tag-edit-hyperlink {

    text-decoration: none;
    color: black;
    font-size: 15px;
}

/* -------------MERCHANT TAGS CSS--------------- */



/* ------ MERCHANT/STORES CSS ------- */

#store-view-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;

}


.store-view {

    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;


}

#add-store-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;

}



.store-add {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;




}


#edit-store-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;

}



.store-edit {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;




}

.store-show-details {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;

}

#store-details-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;

}



.merchant-edit-hyperlink {

    text-decoration: none;
    color: black;
    font-size: 15px;
}




/* ------ MERCHANT/STORES CSS ------- */


/* ------- TRANSACTIONS CSS ---------- */

#transactions-view-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;


}



.transactions-view {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;


}


#transaction-summary {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;

}



#transactions-add-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;

}

.transactions-add {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;

}



#transactions-edit-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;

}

.transactions-edit {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;

}


.transactions-edit-hyperlink {

    text-decoration: none;
    color: black;
    font-size: 15px;
}



/* ------- TRANSACTIONS CSS ---------- */





/* ------- AMOUNTS/SEEDS CSS ---------- */

#amounts-view-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;


}



.amounts-view {

    font-family: Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;


}


#amounts-add-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;

}

.amounts-add {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;

}


#amounts-edit-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;

}

.amounts-edit {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;

}







/* ------- AMOUNTS/SEEDS CSS ---------- */