#main-header {

    font-family: Helvetica, sans-serif;

    

}


#logo {

    text-align: center;
    font-size: 50px;
    

}



.menu {

    list-style-type: none;
  
}

.sub-menus {

    list-style-type: none;
      
}

.nav-button {
        
    background-color: white;
    border: none;
    color: black;
    padding: 3px 3px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    display:inline-block;
    margin-right: 10px;
}
