#main-header {

    font-family: Helvetica, sans-serif;

    

}


#logo {

    text-align: center;
    font-size: 50px;
    

}




.sub-menus {

    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;

      
}

.nav-button {
        
    background-color: white;
    border: none;
    color: black;
    padding: 3px 3px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    display:inline-block;
    margin-right: 10px;
}

.welcome-logo {


    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
    padding-top: 200px;


}


.current-budget {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;


}

#budget-view-header {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;

}


.budget-edit-view {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
 


}