/* ----- HOME PAGE CSS -------- */

#main-header {

    font-family: Helvetica, sans-serif;

    

}


#logo {

    text-align: center;
    font-size: 50px;
    

}




.sub-menus {

    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;

      
}

.nav-button {
        
    background-color: white;
    border: none;
    color: black;
    padding: 3px 3px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    display:inline-block;
    margin-right: 10px;
}

.welcome-logo {


    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
    padding-top: 200px;


}

/* ----- HOME PAGE CSS ----------- */

/* ----- BUDGET VIEW CSS --------- */


.current-budget {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;


}

#budget-view-header {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;

}


.budget-edit-view {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
 


}

/* ------ BUDGET VIEW CSS------------ */

/* ----- MERCHANT TAGS CSS ------------- */
.tag-main-view {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;


}

#tag-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;

}


.tag-add {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;


}



#tag-add-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;


}

/* -------------MERCHANT TAGS CSS--------------- */



/* ------ MERCHANT/STORES CSS ------- */

#store-view-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;

}


.store-view {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;


}

#add-store-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;

}



.store-add {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;




}




/* ------ MERCHANT/STORES CSS ------- */


/* ------- TRANSACTIONS CSS ---------- */

#transactions-view-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;


}



.transactions-view {

    font-family: Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;


}


#transaction-summary {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;

}



#transactions-add-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;

}

.transactions-add {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;

}



/* ------- TRANSACTIONS CSS ---------- */





/* ------- AMOUNTS/SEEDS CSS ---------- */

#amounts-view-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;


}



.amounts-view {

    font-family: Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;


}


#amounts-add-header {

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;

}

.amounts-add {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;

}







/* ------- AMOUNTS/SEEDS CSS ---------- */