{% extends "base.html" %}
{% block content %}

<h1 class="about-logo-top">Budgie tracks your spending. <img src={{ url_for('static', filename='logo-budgie.jpg') }} alt="budgie-logo" class="budgie-logo"></h1>

<p>
    <ul>
        <li class="about-list">
            Add your Budgie.
        </li>
        <li class="about-list">
            Add tags.
        </li>
        <li class="about-list">
            Add stores and assign tags.
        </li>
        <li class="about-list">
            Add and edit your transactions.
        </li>
    </ul>
</p>

<h1 class="about-logo-bottom">Feather your nest.</h1>


{% endblock %}