<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Transactions App</title>
</head>
<body>
    <header id="main-header">
        <nav>
            <ul class="sub-menus">
                <li><a href="/" class="nav-button">Fly Home</a></li>
                <li class="sub-menus">
                    <!-- Your Budgie -->
                    <li><a href="/about" class="nav-button">About</a></li>
                    <!-- <li><a href="/userbudgets/new">Add Budget</a></li> -->
                </li>
                <li class="sub-menus">
                    <!-- Your Budgie -->
                    <li><a href="/userbudgets" class="nav-button">My Budgie</a></li>
                    <!-- <li><a href="/userbudgets/new">Add Budget</a></li> -->
                </li>
                <li class="sub-menus">
                    <!-- Spending Tags -->
                    <li><a href="/merchanttypes/new" class="nav-button">Add A Tag</a></li>
                        <li><a href="/merchanttypes" class="nav-button">My Tags</a></li>
                        
                </li>
                <li class="sub-menus">
                    <!-- Stores -->
                        <li><a href="/merchants/new" class="nav-button">Add New Stores</a></li>
                        <li><a href="/merchants" class="nav-button">My Stores</a></li>
                        
                </li>
                <li class="sub-menus">
                    <!-- Transactions -->
                        <li><a href="/transactions/new" class="nav-button">Add Transaction</a></li>
                        <li><a href="/transactions" class="nav-button">My Transactions</a></li>
                        
                </li>
                <!-- <li class="sub-menus">
                        <li><a href="/amounts" class="nav-button"> My Frequent Seeds</a></li>
                        <li><a href="/amounts/new" class="nav-button">Add Seeds</a></li>
                </li> -->

                
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>