{% extends "base.html" %}
{% block content %}

<h2 id="store-view-header">Stores.</h2>

{% for merchant in merchants %}

<section class="store-view">
    <h3>{{ merchant.name }}</h3>
    <p>{{ merchant.merchant_type.name }}</p>
    <a href="/merchants/{{ merchant.id }}/edit" class="merchant-edit-hyperlink">Edit</a>
    <form action="/merchants/{{ merchant.id }}/delete" method="POST">
    <a href="/merchants/{{ merchant.id }}" class="merchant-edit-hyperlink">Details</a>
    <input type="submit" value="Delete" class="global-button">
</form>
</section>

{% endfor %}
{% endblock %}