{% extends "base.html" %}
{% block content %}

<h2 id="store-view-header">Stores.</h2>

{% for merchant in merchants %}

<section class="store-view">
    <h3>{{ merchant.name }}</h3>
    <p>{{ merchant.merchant_type.name }}</p>
    <a href="/merchants/{{ merchant.id }}/edit">Edit</a>
    <form action="/merchants/{{ merchant.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
    <a href="/merchants/{{ merchant.id }}">Details</a>
</section>

{% endfor %}
{% endblock %}