{% extends "base.html" %}
{% block content %}

<h2 id="add-store-header">Add Store.</h2>

<form action="/merchants" method="POST">
    <div class ="store-add">
        <label for="name"></label>
        <input type="text" id="name" name="name">
    </div>
    <div class ="store-add">
        <label for="merchant-type"></label>
        <select name="merchant_type_id" id="merchant-type">
            {% for merchant_type in merchant_types %}
            <option value="{{ merchant_type.id }}">
                {{ merchant_type.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class ="store-add">
        <input type="submit" value="🦜" class="global-button">
    </div>
</form>

{% endblock %}
