{% extends "base.html" %}
{% block content %}

<h2 id="transactions-edit-header">Update a Transaction</h2>

<form action="/transactions/{{ transaction.id }}" method="POST">
    <div class="transactions-edit">
        <label for="amount">Amount:</label>
        <input type="number" name="amount" value="{{ transaction.amount.value }}" step=0.01>
    </div>
    <div class="transactions-edit">
        <label for="merchant">Merchant:</label>
        <select name="merchant_id" id="merchant">
            {% for merchant in merchants %}
            <option value="{{ merchant.id }}" {% if merchant.id == transaction.merchant.id %} selected {% endif %}>
                {{ merchant.name }} - {{ merchant.merchant_type.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="transactions-edit">
        <input type="submit" class="global-button">
    </div>
</form>

{% endblock %}