{% extends "base.html" %}
{% block content %}

<h2>Update a Transaction</h2>

<form action="/transactions/{{ transaction.id }}" method="POST">
    <div>
        <label for="amount">Amount:</label>
        <select name="amount_id" id="amount">
            {% for amount in amounts %}
            <option value="{{ amount.id }}" {% if amount.id == transaction.amount.id %} selected {% endif %}>
                {{ amount.value }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="merchant">Merchant:</label>
        <select name="merchant_id" id="merchant">
            {% for merchant in merchants %}
            <option value="{{ merchant.id }}" {% if merchant.id == transaction.merchant.id %} selected {% endif %}>
                {{ merchant.name }} - {{ merchant.merchant_type.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}