{% extends "base.html" %}
{% block content %}

<h2 id="transactions-view-header">Transactions</h2>


<p id="transaction-summary">Total Spent: £{{ transactions|sum(attribute='amount.value') }}</p>

{% for transaction in transactions %}

<section class="transactions-view">
    <!-- Transaction summary statement - could add further information here or place into a table -->
    <p>You spent £{{ transaction.amount.value }} at {{ transaction.merchant.name }} on {{ transaction.merchant.merchant_type.name }} 

        

    </p>
    
    
    <a href="/transactions/{{ transaction.id }}/edit" class="transactions-edit-hyperlink">Edit</a>
    <form action="/transactions/{{ transaction.id }}/delete" method="POST">
        <input type="submit" value="Delete" class="global-button">
    </form>
</section>

{% endfor %}





<!-- TEST PLACEHOLDER FOR TOTAL FROM SQL TABLE - DELETE WHEN A FUNCTION IS CREATED -->


{% endblock %}