{% extends "base.html" %}
{% block content %}

<h2>Add a New Transaction</h2>

<form action="/transactions" method="POST">
    <div>
        <label for="amount">Value: £</label>
        <!-- change to input from select -->
        
        <select name="amount_id" id="amount">
            {% for amount in amounts %}
            <option value="{{ amount.id }}">
                {{ amount.value }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="merchant">Store & Category</label>
        <select name="merchant_id" id="merchant">
            {% for merchant in merchants %}
            <option value="{{ merchant.id }}">
                <!-- Show merchant name and associated spending category in dropdown menu -->
                {{ merchant.name }} - {{ merchant.merchant_type.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}